<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.slepus.search.edmontonchina</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>84041776-56F9-47E9-AD3C-642393B290F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7C6909B-F98E-44AD-84DD-3AAE65B26016</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9F00909-D103-47EF-8619-73EB846506CA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open in Firefox</string>
			</dict>
		</array>
		<key>F3AB2C2B-565A-4010-93F8-9AD375D6AFDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E2CFAB3-4849-4005-8CD1-64D0348F1DC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38A40FC2-7444-449E-A682-13E8C78F1C69</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>bzhou2</string>
	<key>description</key>
	<string>top posts from edmontonchina sell &amp; buy</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>edmonton china searh</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F7C6909B-F98E-44AD-84DD-3AAE65B26016</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>edc2</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>updating posts...</string>
				<key>script</key>
				<string>python search_sell.pyc "{query}"</string>
				<key>subtext</key>
				<string>Searching is coming soon</string>
				<key>title</key>
				<string>最新 二手交易</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>84041776-56F9-47E9-AD3C-642393B290F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A9F00909-D103-47EF-8619-73EB846506CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5E2CFAB3-4849-4005-8CD1-64D0348F1DC5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>edcr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>updating posts...</string>
				<key>script</key>
				<string>python search_rent.pyc "{query}"</string>
				<key>subtext</key>
				<string>Searching is coming soon</string>
				<key>title</key>
				<string>最新 房屋信息</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3AB2C2B-565A-4010-93F8-9AD375D6AFDC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>38A40FC2-7444-449E-A682-13E8C78F1C69</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>38A40FC2-7444-449E-A682-13E8C78F1C69</key>
		<dict>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>5E2CFAB3-4849-4005-8CD1-64D0348F1DC5</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>84041776-56F9-47E9-AD3C-642393B290F0</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>A9F00909-D103-47EF-8619-73EB846506CA</key>
		<dict>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>F3AB2C2B-565A-4010-93F8-9AD375D6AFDC</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>F7C6909B-F98E-44AD-84DD-3AAE65B26016</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/bzhou2</string>
</dict>
</plist>
